{% extends 'todo/base.html' %}

{% block content %}
<div class="container">
	<div class="row">
	    <div class="col-12">
	        <h2 class="text-center mt-3 mb-2">Add your ToDos here!</h2>
	        
	        <form action="{% url 'add_todo' %}" method="POST" class="form-inline justify-content-center mt-3 mb-5">
	            {% csrf_token %}
	            <div class="form-group">
	                  {{ form.text }}
	                  <button type="submit" class="btn btn-primary mx-2">ADD</button>
	            </div>
	        </form>
	        
	        <div class="table-responsive">
		        <table class="table">
		        	<tbody>
		            	{% for todo in todo_list %}
		            	<tr>
		                    <td colspan='2'>
			                    {{ todo.text }}<br>
			                    <small class="text-muted">Last Edit: {{ todo.updated_on }}</small>
			                </td>
		                    <td class="text-right">
		                    	<!-- <a href="{% url 'delete_todo' todo.pk %}" type="button" class="btn btn-danger mx-1">DELETE</a> -->
		                    	<form action="{% url 'delete_todo' todo.pk %}" method="POST">
		                        {% csrf_token %}
		                            <button type="submit" class="btn btn-danger mx-1">
		                                DELETE
		                            </button>
		                    	</form>
		                    </td>
		                    <td class="text-left">
		                            <a href="{% url 'edit_todo' todo.pk %}" type="button" class="btn btn-info mx-1">
		                                EDIT
		                            </a>
		                    </td>
		                    </div>
		                </tr>
		            	{% endfor %}
		        	</tbody>
		        </table>
		    </div>
	    </div>
	</div>
</div>
{% endblock %}